body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}


.navigation{
    margin: 30px 100px;
}

.navbar-right{
    margin-right: 0px !important;
}


.search{
    margin-top: 20px;
    width:50px;
    height: 40px;
    border-radius: 5px;
    background:#f0f7fe;
}

.search span{
    text-align: center;
    margin: 10px auto;
    color: #05549f;
    font-size: 18px;
    width: 50px;
}

.login_container{
    width: 400px;
    height: 410px;
    margin: auto;
    margin-top: 50px;
    border: 3px solid #f6f6f6;
    border-radius: 3px;
}

.login_title{
    margin: 30px 0 10px 0;
}

.login_container h1{
    font-family: 'Open Sans Semibold', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 0 10px;
    color: #414141;
}

.login_container h3{
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    font-size: 14px;
    margin: 10px;
    color: #333333;
}

.login_fields{
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
}


.input-group{ 
    position:relative; 
    margin-bottom:30px; 
}

input{
    font-size:18px;
    padding:10px 10px 10px 10px;
    display:block;
    width:300px;
    border-radius: 5px;
    border:1px solid #f6f6f6;
}

input:focus{ 
    outline:none;
    box-shadow: #add7ff 0px 0px 20px 0px;
}

label{
    color:#ddd; 
    font-size:14px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-weight:100 !important;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-30px;
    font-size:14px;
    font-style: italic;
    color:#414141;
  }

  input:focus, input:valid{
    border: 1px solid #05549f;
  }
  

  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

.checkbox{
    width: 10px !important;
    display: inline-block !important;
}

.forgot_pass{
    display: inline-flex;
    float: right;
    font-family: 'Open Sans Regular',sans-serif;
    font-size: 12px;
    color: #05549f
}

.keep_login{
    display: inline-flex;
}

.keep_login span{
    font-family: 'Open Sans Regular',sans-serif;
    font-size: 12px;
    color: #414141;
}